# ignore vscode settings and macOS files
.vscode/
.DS_Store


# ignore object files
**/*.o


# ignore executable files
lang
dataset-gen
queries-gen


# ignore data files for now, since might be too big
data/*.csv
data/*.queries